.btn
{
    display: block;
    padding: 5px;
    background: inherit;
    text-align: center;

    cursor: pointer;
    font-weight: 600;

    &.wide
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    &.outline
    {
        transition: none;
        outline: 2px solid var(--col-bg);
        color: var(--col-bg);

        &:hover
        {
            transition: outline 50ms ease-out;
            outline: 4px solid var(--col-bg);
        }
    }

    &.solid
    {
        background-color: var(--col-bg);
        color: var(--col-fg);

        &.round
        {
            border-radius: var(--theme-round);
        }

        &.swap
        {
            border: 3px solid var(--col-bg);
            transition: color 100ms ease-out, background-color 100ms ease-out;

            &:hover
            {
                background-color: inherit;
                color: var(--col-bg);
            }
        }

        &.hover:hover
        {
            filter: brightness(110%);
        }
    }
}

.closemark
{
    font-size: 1.9rem;
    float: right;
    text-decoration: none;
    cursor: pointer;
}