body
{
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

h1
{
    font-family: arial black, sans-serif;
}

h2,
h3,
h4,
h5,
h6
{
    font-family: arial, sans-serif;
}

p
{
    font-size: 1rem;
}

b
{
    font-weight: bold;
}

h6
{
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
}

h5
{
    font-weight: 300;
    font-size: 1.6rem;
}

h4
{
    font-weight: 200;
    font-size: 2.3rem;
}

h3
{
    font-weight: 300;
    font-size: 2.6rem;
}

h2
{
    font-weight: 300;
    font-size: 3rem;
}

h1
{
    font-weight: 700;
    font-size: 4rem;
}