.flex
{
    display: flex;
    flex-direction: column;

    &.row
    {
        flex-direction: row;
    }

    &.center
    {
        align-items: center;
        justify-content: center;
    }

    &.even
    {
        justify-content: space-evenly;
    }

    &.around
    {
        justify-content: space-around;
    }

    &.between
    {
        justify-content: space-between;
    }

    &.gap
    {
        gap: var(--theme-size);
    }

    &.bgap
    {
        gap: var(--theme-size-big);
    }
}

.center-txt
{
    text-align: center;
}

.fill
{
    width: 100%;
    height: 100%;
}

.fill-x
{
    width: 100%;
}

.fill-y
{
    height: 100%;
}

.max
{
    min-height: max-content;
    min-width: max-content;
}

.pad
{
    padding: var(--theme-size);
}

.scroll
{
    overflow: auto;
}