.theme-example
{
    --theme-primary: #3753A5;
    --theme-secondary: #213042;
    --theme-active: #1888ce;
    --theme-inactive: #788aa2;
    --theme-alert: #dfe621;
    --theme-positive: #17b922;
    --theme-negative: #b21717;
    --theme-light: #ffffff;
    --theme-dark: #282828;

    --theme-primary-tint: #2c318e;
    --theme-secondary-tint: #2b3e55;
    --theme-light-tint: #b4c6dd;
    --theme-dark-tint: #3f4553;

    --theme-primary-text: #ffffff;
    --theme-secondary-text: #ffffff;
    --theme-active-text: #ffffff;
    --theme-inactive-text: #ffffff;
    --theme-alert-text: #ffffff;
    --theme-positive-text: #ffffff;
    --theme-negative-text: #ffffff;
    --theme-light-text: #282828;
    --theme-dark-text: #ffffff;

    --theme-size: 1rem;
    --theme-size-big: 2.5rem;
    --theme-round: 0.15rem;
    --theme-round-big: 0.15rem;
}